<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lx.sendmessage" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name=".SendMessageDemo"
            android:label="@string/title_activity_send_message_demo" >
        </activity>
    </application>

</manifest>
